$layout-main-color:#313030;
$layout-text-color: #e0e0e0;
$layout-second-color:#ff3f40;

$heading-color:#000000;
$text-color:#000000;
$main-color:#ffffff;
$second-color:#ff3f40;

$OpenSans:"Open Sans";

$fz14:0.875em;
$fz60:3.75em;
$fz16:1em;
$fz18:1.125em;
$fz42:2.625em;
$fz24:1.5em;
$fz22:1.375em;